<div class="bg-white rounded-xl border-[1px] border-b-[6px] border-black h-full flex items-center">
    <div class="w-full px-4 2xl:scale-90 2xl:transform-gpu">
        <img 
            src="https://ghchart.rshah.org/B9FF66/kikomola" 
            alt="GitHub Activity Chart"
            class="w-full h-auto"
            style="aspect-ratio: 892/150;"
        >
    </div>
</div> 