---
interface Props {
    bio: string;
}

const { bio } = Astro.props;
---

<div class="bg-[#B9FF66] rounded-xl p-3 border-[1px] border-b-[6px] border-black flex justify-center items-center h-full">
    <p class="text-lg font-medium text-gray-700 p-3">{bio}</p>
</div> 