---
import { getGithubUser, type GitHubUser } from '../utils/github';
import Activity from './Activity.astro';
import Bio from './Bio.astro';
import ProjectCard from './ProjectCard.astro';

const username = 'KikoMola';
const githubUser = await getGithubUser(username) as GitHubUser;
---

<main class="w-full md:w-[80%] md:h-screen md:overflow-y-auto">
    <div class="p-6">
        <div class="flex flex-col md:flex-row gap-6 md:h-[200px] pl-3 pr-3">
            <div class="w-full md:w-[40%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3">Sobre mí ↓</h2>
                <div class="h-[calc(100%-1rem)]">
                    <Bio bio={githubUser.bio} />
                </div>
            </div>

            <div class="w-full md:w-[60%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3">Actividad en el último año ↓</h2>
                <div class="h-[calc(100%-1rem)]">
                    <Activity />
                </div>
            </div>
        </div>

        <h2 class="text-2xl font-bold mt-8 mb-4 pl-3">Mis proyectos ↓</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-3">
            <ProjectCard 
                title="Personal Portfolio"
                technologies={["Astro"]}
                repoUrl="https://github.com/KikoMola/kikodev-portfolio"
                deployUrl="https://kikodev-portfolio.vercel.app/"
                description="Mi portfolio personal, desarrollado con Astro, TailwindCSS y TypeScript."
            />

            <ProjectCard 
                title="LeeTuTicket"
                technologies={["Angular", "TailwindCSS", "Supabase"]}
                deployUrl="https://leetuticket.vercel.app/"
                description="LeeTuTicket es una aplicación web que permite a los usuarios comprar y vender tickets para eventos en línea."
            />

            <ProjectCard 
                title="KanbanHub"
                technologies={["Angular", "TailwindCSS", "NestJS", "PostgreSQL", "NeonDB"]}
                deployUrl='https://todo-kanban-hub.vercel.app/'
                description="KanbanHub es una aplicación web que permite a los usuarios gestionar sus tareas y proyectos en un tablero Kanban."
            />

            <ProjectCard 
                title="Angular Dependency Checker"
                technologies={["React", "TailwindCSS", "ShadCN", "Vite"]}
                repoUrl="https://github.com/KikoMola/Angular-Dependency-Checker"
                deployUrl="https://angular-dependency-checker.vercel.app/"
                description="Angular Dependency Checker es una herramienta que permite a los desarrolladores analizar y gestionar las dependencias de sus proyectos Angular."
            />

            <!-- <ProjectCard 
                title="MyBulkyPal"
                technologies={["Angular", "TailwindCSS", "Supabase"]}
                deployUrl="https://tail-bulk.vercel.app/"
                description="MyBulkyPal es una aplicación web que permite a los usuarios añadir su rutina de ejercicio o llevar un registro de su dieta."
            /> -->

            <ProjectCard 
                title="Coingecko Clone"
                technologies={["Angular", "TailwindCSS", "NestJS", "PostgreSQL", "NeonDB"]}
                repoUrl="https://github.com/KikoMola/CryptoCoinGeckoAPI",
                deployUrl="https://crypto-coingecko-api.vercel.app/"
                description="Coingecko Clone es una aplicación web que permite a los usuarios ver el precio de las criptomonedas en tiempo real."
            />
        </div>
    </div>
</main> 