---
import { getGithubUser, type GitHubUser } from '../utils/github';
import Activity from './Activity.astro';
import Bio from './Bio.astro';
import ProjectCard from './ProjectCard.astro';

const username = 'KikoMola';
const githubUser = await getGithubUser(username) as GitHubUser;
---

<main class="w-full md:w-[80%] min-h-screen md:h-screen md:overflow-y-auto bg-white dark:bg-gray-900">
    <div class="p-6">
        <div class="flex flex-col md:flex-row gap-6 md:h-[200px] pl-3 pr-3">
            <div class="w-full md:w-[40%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3 text-gray-900 dark:text-white">Sobre mí ↓</h2>
                <div class="h-[calc(100%-1rem)]">
                    <Bio bio={githubUser.bio} />
                </div>
            </div>

            <!-- <div class="w-full md:w-[60%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3">Actividad en el último año ↓</h2>
                <div class="h-[calc(100%-1rem)]">
                    <Activity />
                </div>
            </div> -->
        </div>

        <h2 class="text-2xl font-bold mt-8 mb-4 pl-3 text-gray-900 dark:text-white">Mis proyectos ↓</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-3">
            <ProjectCard 
                title="Personal Portfolio"
                technologies={["Astro"]}
                repoUrl="https://github.com/KikoMola/kikodev-portfolio"
                deployUrl="https://kikoguirado.com/"
                description="Mi portfolio personal, desarrollado con Astro, TailwindCSS y TypeScript."
            />

            <ProjectCard 
                title="BULKY"
                technologies={["Angular", "TailwindCSS", "Supabase"]}
                deployUrl="https://bulky.fitness/"
                description="BULKY es una aplicación web que permite a los usuarios añadir su rutina de ejercicio o llevar un registro de su dieta."
            />

            <ProjectCard 
                title="LeeTuTicket"
                technologies={["Angular", "TailwindCSS", "Supabase"]}
                deployUrl="https://leetuticket.vercel.app/"
                description="LeeTuTicket es una aplicación web que permite a los usuarios comprar y vender tickets para eventos en línea."
            />

            <ProjectCard 
                title="KanbanHub"
                technologies={["Angular", "TailwindCSS", "NestJS", "PostgreSQL", "NeonDB"]}
                deployUrl='https://kanbanhub.work/'
                description="KanbanHub es una aplicación web que permite a los usuarios gestionar sus tareas y proyectos en un tablero Kanban."
            />

            <ProjectCard 
                title="FIGTracker"
                technologies={["Angular", "TailwindCSS", "NestJS", "PostgreSQL", "NeonDB"]}
                deployUrl="https://bl-cart-planner.vercel.app/"
                description="Aplicación que permite a los usuarios rastrear y gestionar sus minifiguras, sets y piezas de LEGO, de una manera centralizada."
            />

            <ProjectCard 
                title="BrickLink Cart Planner"
                technologies={["Angular", "TailwindCSS"]}
                repoUrl="https://github.com/KikoMola/bl-cart-planner",
                deployUrl="https://bl-cart-planner.vercel.app/"
                description="Este planificador de carritos de BrickLink ayuda a los usuarios a organizar y gestionar sus compras de piezas de LEGO y permite optimizar los precios al máximo."
            />

            <ProjectCard 
                title="Angular Dependency Checker"
                technologies={["React", "TailwindCSS", "ShadCN", "Vite"]}
                repoUrl="https://github.com/KikoMola/Angular-Dependency-Checker"
                deployUrl="https://angular-dependency-checker.vercel.app/"
                description="Angular Dependency Checker es una herramienta que permite a los desarrolladores analizar y gestionar las dependencias de sus proyectos Angular."
            />

            <ProjectCard 
                title="Coingecko Clone"
                technologies={["Angular", "TailwindCSS", "NestJS", "PostgreSQL", "NeonDB"]}
                repoUrl="https://github.com/KikoMola/CryptoCoinGeckoAPI",
                deployUrl="https://crypto-coingecko-api.vercel.app/"
                description="Coingecko Clone es una aplicación web que permite a los usuarios ver el precio de las criptomonedas en tiempo real."
            />

            

        </div>
    </div>
</main> 