---
import { getGithubUser, type GitHubUser } from '../utils/github';
import Activity from './Activity.astro';
import Bio from './Bio.astro';
import ProjectCard from './ProjectCard.astro';

const username = 'KikoMola';
const githubUser = await getGithubUser(username) as GitHubUser;
---

<main class="w-full md:w-[80%] min-h-screen bg-white">
    <div class="p-6">
        <div class="flex flex-col md:flex-row gap-6 md:h-[200px] pl-3 pr-3">
            <div class="w-full md:w-[40%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3">Sobre mí ↓</h2>
                <div class="h-[calc(100%-2rem)]">
                    <Bio bio={githubUser.bio} />
                </div>
            </div>

            <div class="w-full md:w-[60%] h-[200px] md:h-full">
                <h2 class="text-2xl font-bold mb-3">Actividad en el último año ↓</h2>
                <div class="h-[calc(100%-2rem)]">
                    <Activity />
                </div>
            </div>
        </div>

        <h2 class="text-2xl font-bold mt-8 mb-4 pl-3">Mis proyectos ↓</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-3">
            <ProjectCard 
                title="kikodev-portfolio"
                technologies={["Astro"]}
                repoUrl="https://github.com/KikoMola/kikodev-portfolio"
            />

            <ProjectCard 
                title="kikodev-portfolio"
                technologies={["Astro"]}
                repoUrl="https://github.com/KikoMola/kikodev-portfolio"
            />
        </div>
    </div>
</main> 